<!DOCTYPE html>
<html>
  <head>
    <title>Genrify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #1DB954; color: #000000; font-family: 'Gotham-Medium'">
    <a href="/"><%= image_tag 'Genrify_Full_Black.png', style: 'width:35%;height:auto;' %></a>
    <!-- <h1>Welcome to Genrify™!</h1> -->
    <nav>
      <%= link_to "Browse by Song", songs_path %>
      <%= link_to "Browse by Artist", artists_path %>
      <%= link_to "Browse by Genre", genres_path %>
    </nav>

    <%= yield %>

  </body>
</html>
